{% extends 'overall/layout' %}
{% block appBody %}
    <table>
        <thead>
            {{thead}}
        </thead>
        <tbody>
            {{tbody}}
        </tbody>
    </table>
{% endblock %}