<Files .htaccess>
    Order allow,deny
    Deny from all
</Files>

<FilesMatch "(\.(bak|config|dist|fla|inc|ini|log|psd|sh|sql|json|lock|swp|py|xml|phtml|twig|gitignore|yml)|~)$">
    Order allow,deny
    Deny from all
    Satisfy All
</FilesMatch>

RewriteEngine On
# RerwiteBase / # 1&1 host
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?routing=$1 [QSA,L]