body { 
	max-width: 100%;
	min-height: 100vh;
	padding: 0;
	margin: 0;
	font-family: 'Raleway', sans-serif;
}

/*Estilos generales*/
ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

.full-screen{
	width: 100%;
	height: 100vh !important;
}

.text-black{
	color: #000000 !important;
}

.slider{
	background-size: cover;
}

.rslides_home li:nth-child(1) .slider { background-image: url('../images/home/1920.png'); }
.rslides_home li:nth-child(2) .slider { background-image: url('../images/home/1920_2.png'); }
.rslides_home li:nth-child(3) .slider { background-image: url('../images/home/1920_3.png'); }
.rslides_home li:nth-child(4) .slider { background-image: url('../images/home/1920_4.png'); }

/* Main Content */
.main-page{
	height: 100vh;
	background-size: 100% 100%;
}


/* Footer */
.footer-page .social-list a{
	font-size: 25px;
	padding-bottom: 10px;
}


