<footer class="footer-page container p-relative">
    <ul class="social-list d-flex justify-content-end">
      	<li><a href="{{ social.instagram }}" class="mr-2 text-black instagram" target="_blank"><i class="fa fa-instagram"></i></a></li>
      	<li><a href="{{ social.twitter }}" class="mr-2 text-black twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
      	<li><a href="{{ social.facebook }}" class="mr-2 text-black facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
      	<li><a href="{{ social.google }}" class="mr-3 text-black google-plus" target="_blank"><i class="fa fa-google-plus"></i></a></li>
    </ul>
</footer>